/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole CSS */
body {
    font-family: sans-serif;
}
/* HEADER */
header {
    background-color: orangered;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 6px 0px black;
    z-index: 1;
}
.topbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: auto;
    padding: 20px 0;
}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
}
.topbar ul li {
    display: inline-block;
    padding-right: 5px;
}
.menu-column{
    color: white;
}
.logo-column img {
    height: 50px;
}

/* MAIN */
main {
    padding: 120px 0;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.columns {
    display: flex;
    flex-wrap: wrap;
}
.product {
    position: relative;
}
.col {
    width: calc(100% / 3);
    padding: 20px;
}
.product img {
    width: 100%;
}
.seconda {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;
}
.product:hover  .seconda {
    opacity: 1;
}
.like {
    height: 40px;
    width: 50px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.like i:hover{
    color: red;
}
.offerte {
    position: absolute;
    left: 0;
    bottom: 30px;
}
.sconto {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    
}
.special {
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
}
.col .marca {
    font-size: 12px;
}
.col .name-product > a {
    color: black;
    font-weight: bold;
}
.col .price {
    font-size: 12px;
    color: red;
    font-weight: bold;
}
.price > .old-price {
    color: black;
    text-decoration: line-through;
    font-weight: normal;
}

/* FOOTER */
footer{
    background-color: rgb(26, 26, 26);
    padding-bottom: 5px;
}
.footer {
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left h2 {
    color: white;
    padding: 10px 0;
}
.link-utili li{
    display: inline-block;
    padding: 10px 10px 20px 0px;
}
.footer-right h3 {
    color: white;
    padding-top: 20px;
}
.link-utili i {
    font-size: 20px;
}
footer hr {
    border: 1px solid white;
}
